<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>"SignAnalysis"</title>

		<!-- build:css styles/vendor.css -->
		<!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
		<!-- bower:css -->
		<link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css({.tmp,app}) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/jquery.signaturepad.css">
		<!-- endbuild -->
	</head>

	<body ng-app="SignAnalysis" ng-controller="MainCtrl">

		<ion-pane>
			<ion-header-bar class="bar-stable">
				<h1 class="title">Sign Analysis</h1>
			</ion-header-bar>
			<ion-content>

				<form name="sign">

					<!-- Name Field -->
					<div class="control-group">
						<div class="control">
							<input type="text" class="span2" placeholder="First Name" ng-model="user.firstName">
							<input type="text" class="span3" placeholder="Last Name" ng-model="user.lastName">
							<input type="email" class="span3" placeholder="Email" ng-model="user.email">
						</div>
					</div>

					<!-- Signature Pad -->
					<div class="control-group" style="width: 100%">
						<sigpad ng-model='user.signature' clearBtn=".clearButton" name="signature" required></sigpad>
					</div>

					<div class="control-group buttons">
						<input  type="button"
						class="btn clearButton span2"
						value="Clear"
						ng-click="clearData()"/>
						<input  type="button"
						class="btn btn-primary saveButton span2 pull-right"
						value="Save" ng-click="saveData()"/>
					</div>
				</form>
				
				
				<regensigpad sigdata="{{user.signature}}"></regensigpad>
				
				<input  type="button"
						class="btn span2"
						value="Add Step"
						ng-click="addStep()"/>
						<input  type="button"
						class="btn btn-primary pan2 pull-right"
						value="Remove Step" ng-click="removeStep()"/>
				
				
			</ion-content>
		</ion-pane>

		<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
		<script>
			var myDataRef = new Firebase('https://emgeruyab8a.firebaseio-demo.com/');
		</script>
		<script src="lib/signaturepad/flashcanvas.js"></script>
		<script src="lib/jquery/jquery.js"></script>
		<script src="lib/signaturepad/jquery.signaturepad.min.js"></script>
		<script src="lib/signaturepad/json2.min.js"></script>

		<!-- build:js scripts/vendor.js -->
		<!-- <script src="vendor/someContribJs.js"></script> -->
		<!-- bower:js -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-animate/angular-animate.js"></script>
		<script src="lib/angular-sanitize/angular-sanitize.js"></script>
		<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="lib/collide/collide.js"></script>
		<script src="lib/ionic/release/js/ionic.js"></script>
		<script src="lib/ionic/release/js/ionic-angular.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- build:js scripts/scripts.js -->
		<script src="scripts/config.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/directives.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/services/save.js"></script>
		<!-- endbuild -->

	</body>
</html>
